<div class="col-12">
  <div class="card shadow-lg my-2 py-0">
    <div class="row d-flex justify-content-end">
      <div
        class="tickets-card2 col-12 col-offset-lg-9 col-lg-3 align-items-end ml-2 my-0 pt-2 px-2 pl-xl-0"
      >
        <h4
          class="text-info text-uppercase font-weight-bold my-0 py-0 pl-2 pl-xl-5 pr-xl-0 mx-0 ml-xl-5 mr-xl-0"
        >
          <hr class="top mt-1 mb-0" />
          front desk
          <hr class="bottom mt-1 mb-0" />
        </h4>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
