<div class="d-flex flex-column">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="card shadow-lg mt-2 mb-2 pt-0 pb-1">
          <div class="row">
            <div class="col-xs-12 col-lg-5 justify-content-left ml-3 mt-4 pt-2">
              <a
                class="btn btn-info btn-sm"
                role="button"
                routerLink="/frontdesk-reports"
                ><i class="fas fa-chart-line fa-sm text-white"></i> Reports</a
              >&nbsp;
              <a
                class="btn btn-info btn-sm"
                role="button"
                routerLink="authpage/register-client"
                ><i class="fas fa-briefcase text-white"></i>&nbsp;Register
                Client</a
              >
              &nbsp;
              <a
                class="btn btn-info btn-sm"
                role="button"
                routerLink="/create-item"
                ><i class="fas fa-umbrella text-white"></i>&nbsp;Create Item</a
              >
            </div>
            <div
              class="d-sm-flex col-xs-12 col-offset-lg-6 col-lg-6 justify-content-end align-items-end ml-3 mr -0 mt-3 pt-0 px-0"
            >
              <h5 class="text-info font-weight-bold mt-0 pt-0 pl-3 ml-0 mr-0">
                <hr class="top mt-1 mb-0" />
                REQUEST FOR QUOTATION(RFQ)
                <hr class="bottom mt-1 mb-0" />
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="rfqs card shadow mb-4">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h6 class="text-info pull-right font-weight-bold m-0">
              <hr class="top mt-1 mb-0" />
              CREATE RFQ
              <hr class="bottom mt-1 mb-0" />
            </h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-xs-12">
                <!-- Main content -->
                <section class="content">
                  <div class="row">
                    <div class="col">
                      <div class="card card-primary">
                        <div class="card-body">
                          <form [formGroup]="rfqForm">
                            <div class="row mx-3">
                              <div class="col-xs-12 col-lg-4">
                                <div class="form-group">
                                  <label
                                    for="clientName"
                                    class="text-info"
                                    [ngClass]="
                                      fval.clientName.valid
                                        ? 'text-success'
                                        : ''
                                    "
                                    >{{ clientLabel
                                    }}<i
                                      *ngIf="fval.clientName.valid"
                                      class="material-icons"
                                      >check_circle</i
                                    >
                                  </label>

                                  <button
                                    type="button"
                                    class="btn btn-primary form-control"
                                    (click)="openModal(template)"
                                    *ngIf="!clientAdded"
                                  >
                                    <i class="fas fa-user-plus"></i>
                                    Select Client
                                  </button>

                                  <input
                                    *ngIf="clientAdded"
                                    class="form-control"
                                    formControlName="clientName"
                                    [value]="fval.clientName.value"
                                  />

                                  <div
                                    class="text-danger col"
                                    *ngIf="
                                      (fval.clientName.touched ||
                                        fval.clientName.dirty) &&
                                      fval.clientName.errors?.required
                                    "
                                  >
                                    Client is required
                                  </div>
                                </div>
                              </div>

                              <div class="col-xs-12 col-lg-4">
                                <div class="form-group">
                                  <label
                                    for="rfqSource"
                                    class="text-info"
                                    [ngClass]="
                                      fval.rfqSource.valid ? 'text-success' : ''
                                    "
                                    >RFQ source<i
                                      *ngIf="fval.rfqSource.valid"
                                      class="material-icons"
                                      >check_circle</i
                                    ></label
                                  >
                                  <select
                                    class="form-control"
                                    formControlName="rfqSource"
                                    placeholder="Select RFQ source"
                                    (change)="setSelectedChanges($event)"
                                  >
                                    <option selected>Select Rfq source</option>
                                    <option
                                      *ngFor="let rfq_source of rfq_sources"
                                    >
                                      {{ rfq_source.rfqSource }}
                                    </option>
                                  </select>
                                  <div
                                    class="text-danger col"
                                    *ngIf="
                                      (fval.rfqSource.touched ||
                                        fval.rfqSource.dirty) &&
                                      fval.rfqSource.errors?.required
                                    "
                                  >
                                    RFQ source is required
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-lg-4">
                                <div
                                  class="custom-control custom-switch p-2 mx-5 my-3"
                                  *ngIf="setApprovalStatus"
                                >
                                  <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="customSwitch1"
                                    (change)="onCheckChange($event)"
                                  />
                                  <label
                                    class="custom-control-label text-primary"
                                    for="customSwitch1"
                                    >Skip Approval</label
                                  >
                                </div>
                              </div>
                            </div>

                            <div class="row m-3">
                              <div class="col-6">
                                <a
                                  class="btn btn-secondary col-5"
                                  (click)="resetForm()"
                                  >Cancel</a
                                >&nbsp;
                                <button
                                  type="submit"
                                  class="btn btn-info col-5"
                                  (click)="createRFQ(rfqForm)"
                                  [disabled]="!rfqForm.valid"
                                >
                                  Create RFQ
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <!-- <app-add-rfq-items
[clientNames]="fval.clientName"
></app-add-rfq-items> -->
                    </div>
                    <!-- /.card-body-->
                  </div>
                  <!-- /.card -->

                  <!-- Main content -->

                  <section class="content">
                    <!-- Default box -->
                    <div class="card">
                      <div class="card-body p-0">
                        <div id="rfq-listing" class="table-responsive">
                          <table
                            class="table table-striped thead-dark table-hover table-sm"
                          >
                            <thead>
                              <tr class="text-info align-items-center">
                                <th>Action</th>
                                <th>#</th>
                                <!-- <th>RFQ Serial No.</th> -->
                                <th>Client Name</th>
                                <th>RFQ Source</th>
                                <th>No. Of Items</th>
                                <th>Total Amount</th>
                                <th>Department</th>
                                <th>User Queue</th>
                                <th>Movement Status</th>
                                <th>Movement Timestamp</th>
                                <th>Processing Status</th>
                                <th>Processing Timestamp</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor='let summu of rfqSummury$|async let i=index;let odd=odd;let first=first;let last=last'
                              [class.text-secondary]="odd"
                               [class.text-success]="!odd"
                     
                                 > 
                                <td class="dropdown">
                                  <a
                                    class="text-info"
                                    data-toggle="dropdown"
                                    role="button"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    ><i class="material-icons">more_vert</i></a
                                  >

                                  <div class="dropdown-menu position-absolute">
                                    <a
                                      data-toggle="modal"
                                      data-target="#comment"
                                      class="dropdown-item d-flex align-items-center text-info btn btn-info btn-sm"
                                    >
                                      <i class="material-icons">check</i>Approve
                                    </a>

                                    <a
                                      data-toggle="modal"
                                      data-target="#defer"
                                      class="dropdown-item d-flex align-items-center"
                                    >
                                      <i class="material-icons">edit</i>Defer
                                    </a>
                                    <a
                                      data-toggle="modal"
                                      data-target="#comment"
                                      class="dropdown-item d-flex align-items-center"
                                    >
                                      <i class="material-icons">block</i>Reject
                                    </a>

                                    <a
                                      data-toggle="modal"
                                      data-target="#comment"
                                      class="dropdown-item d-flex align-items-center"
                                    >
                                      <i class="material-icons">forward</i
                                      >Disburse
                                    </a>
                                  </div>
                                </td>
                                <td>{{i+1}}</td>
                                <!-- <td>
                                  <a routerLink="/requestforqoute">{{summu.id}}</a>
                                </td> -->
                                <td>
                                  <a routerLink="/detailquote"
                                    >{{(summu.clientColRef|doc|async)?.clientName}}</a
                                  >
                                </td>
                                <td>{{summu.}}</td>
                                <td>{{summu.noOfItems}}</td>
                                <td>{{summu.totalAmount}}</td>
                                <td>{{(summu.empColRef|doc|async)?.department}}</td>
                                <td>{{(summu.empColRef|doc|async)?.userName}}</td>
                                <td>
                                  <span class="badge badge-success"
                                    >{{summu.movementStatus}}</span
                                  >
                                </td>
                                <td>{{summu.}}</td>
                                <td>
                                  <span class="badge badge-warning"
                                    >{{summu.processingStatus}}</span
                                  >
                                </td>
                                <td>{{summu.movementTimestamp}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div id="rfq-status"></div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </section>
                  <!-- /.content -->
                  <!-- /.content-wrapper -->

                  <!-- Content Wrapper. Contains page content -->
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header bg-info close pull-right modal-lg">
      <h4 class="modal-title pull-left">List Of Clients</h4>

      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
<span aria-hidden="true">&times;</span>
</button> -->
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="userFilter.clientName"
          placeholder="Enter Client Name"
        />
      </div>
      <div class="jumbotron-fluid table-responsive mx-5 my-5">
        <table class="table-bordered table-striped mx-3">
          <thead>
            <th>Action</th>
            <!-- <th>Id</th> -->
            <th>Client Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Approval Status</th>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients$ | async | filterBy: userFilter">
              <td>
                <button
                  class="primary"
                  (click)="modalRef.hide()"
                  (click)="updateName(client.clientName, client.id)"
                >
                  Add
                </button>
              </td>

              <!-- <td > {{client.id }} </td> -->

              <td>{{ client.clientName }}</td>
              <td>{{ client.phoneNumber }}</td>
              <td>{{ client.email }}</td>
              <td>{{ client.approvalStatus }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
</div>
