.container-fluid {
  align-items: center;
}
.container {
  width: 100%;
  align-items: center;
}
.breadcrumb {
  position: relative;
  background: transparent !important;
  font-size: 16px !important;
  font-weight: 700;
  border-radius: 2px;
  width: 100%;
  //  border-bottom: solid 4px #c63685;
  // border-left: solid 4px #070707;
}
.breadcrumb-item a:hover {
  color: #eee206 !important;
}
.breadcrumb-item.active {
  color: #c63685 !important;
}
.card {
  width: 90%;
  min-width: 150px;
  max-width: 500px;
  padding-right: 2px;
  padding-left: 2px;
  border: 0rem;
  padding-bottom: 20px;
}
.card .card-title {
  width: 100%;
  font-size: 16px !important;
  font-weight: 700 !important;
  align-items: center
}
hr.top{
  width: 10%;
  min-width: 30px;
  max-width: 80px;
  position: relative;
  margin-left: 85px;
  background-color: #c63685f3;
  height: 4px;
}
hr.bottom{
  width: 10%;
  min-width: 30px;
  max-width: 80px;
  position: relative;
  margin-right: 85px;
  background-color: #eee206ef;
  height: 4px;
}
.pointerCursor {
  cursor: pointer;
}

 ::ng-deep .mat-step-header {
   pointer-events: none !important;
   color: #54a9c9 !important;
   background-color: none;
   width: 100%;
  min-width: 110px !important;
  max-width: 320px !important;
}

::ng-deep ng-template .mat-step-header:active, .mat-step-header:focus {
   pointer-events: none !important;
   color: #54a9c9 !important;
   background-color: none !important;
 }
//mat-icon-stepper selected color change
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
   background-color: #54a9c9d5!important;
}

//input outline color
//::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
 //   color: red!important;
    // opacity: 1!important;
//}

//mat-input focused color
::ng-deep .mat-form-field-appearance-fill.mat-focused .mat-form-field-fill-thick {
    color: #54a9c9d5 !important;
}

// mat-input error fill color
::ng-deep .mat-form-field-appearance-fill.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-fill-thick{
    color: #c63685f3!important;
    opacity: 0.8!important;
}

.mat-form-field {
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 2px;
  padding-left: 2px;
}
button.btn {
  border-radius: 13px;
}
mat-icon,
mat-label {
  color: #54a9c9;
}
mat-error {
  color: #c63685;
}

.foot {
  min-width: 110px !important;
  max-width: 500px !important;
  width: 100% !important;
  font-size: 22px !important;
}
