.container-fluid {
  align-items: center;
}
.container {
  width: 100%;
  align-items: center;
}
.breadcrumb {
  position: relative;
  background: transparent !important;
    font-size: 15px !important;
  font-weight: 700;
  width: 100%;
}
.breadcrumb-item a:hover {
  color: #eee206 !important;
}
.breadcrumb-item.active {
  color: #c63685 !important;
}
.employee-card {
  width: 100%;
  min-width: 150px;
  max-width: 400px;
  height: auto;
  border: 0rem;
}
.employee-card hr.top {
  width: 10%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-left: 0px;
  background-color: #c63685f3;
  height: 4px;
}
.employee-card hr.bottom {
  width: 10%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 0px;
  background-color: #eee206ef;
  height: 4px;
}

::ng-deep .mat-step-header {
  pointer-events: none !important;
  color: #54a9c9 !important;
  background-color: none;
}

::ng-deep ng-template .mat-step-header:active,
.mat-step-header:focus {
  pointer-events: none !important;
  color: #54a9c9 !important;
  background-color: none !important;
}
//mat-icon-stepper selected color change
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #54a9c9d5 !important;
}

//mat-input focused color
::ng-deep
  .mat-form-field-appearance-fill.mat-focused
  .mat-form-field-fill-thick {
  color: #54a9c9d5 !important;
}

// mat-input error fill color
::ng-deep
  .mat-form-field-appearance-fill.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-fill-thick {
  color: #c63685f3 !important;
  opacity: 0.8 !important;
}

.mat-form-field {
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 2px;
  padding-left: 2px;
}
mat-icon,
mat-label {
  color: #54a9c9;
}
mat-error {
  color: #c63685;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}



//Media queries
@media (min-width: 290px) {
}

@media (min-width: 360px) {
  .breadcrumb {
    font-size: 17px !important;
  }
}

@media (min-width: 375px) {
}


@media (min-width: 400px) {
}


@media (min-width: 568px) {
  .breadcrumb {
    font-size: 18px !important;
  }
}


@media (min-width: 640px) {
}


@media (min-width: 768px) {
  .breadcrumb {
    font-size: 20px !important;
  }
  ::ng-deep .mat-step-header {
    pointer-events: none !important;
    color: #54a9c9 !important;
    background-color: none;
    margin-bottom: 20px !important;
  }
}


@media (min-width: 823px) {
  ::ng-deep .mat-step-header {
    pointer-events: none !important;
    color: #54a9c9 !important;
    background-color: none;
    margin-bottom: 0px !important;
  }
}


@media (min-width: 1024px) {
  .breadcrumb {
    font-size: 24px !important;
    font-weight: 800;
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .breadcrumb {
    font-size: 24px !important;
  }
}

@media (min-width: 1320px) {
}

