.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.tickets-card2 hr.top{
  width: 10%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-left: 0px;
  background-color: #c63685f3;
  height: 4px;
}
.tickets-card2 hr.bottom{
  width: 10%;
  min-width: 15px;
  max-width: 30px;
  position: relative;
  margin-right: 0px;
  background-color: #eee206ef;
  height: 4px;
}

.card {
  width: 100%;
  height: auto;
  min-width: 260px;
  border-radius: 8px;
  contain: auto;
}



//Media queries
@media (min-width: 320px) {
}

@media (min-width: 360px) {
}

@media (min-width: 375px) {
}

@media (min-width: 768px) {
  .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .jumbotron-fluid {
    margin-bottom: 130px !important;
  }
  }

@media (min-width: 812px) {
  .jumbotron-fluid {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1024px) {
  .jumbotron-fluid {
    margin-bottom: 380px !important;
  }
}

@media (min-width: 1100px) {
  .jumbotron-fluid {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1260px) {
  .jumbotron-fluid {
    margin-bottom: 20px !important;
  }
  }
