<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-1 mt-md-5 pt-0 pt-md-5 pt-xl-5 pb-3 shadow-lg col-12 col-lg-8"
>
  <div class="jumbotron-fluid mt-1 mt-md-4 pt-0 pt-md-5 pt-xl-4">
    <div class="col-12 mt-5 mb-2 py-5 justify-content-between">
      <h4 class="text-center text-info">
        Please check your email for the reset password link and code to use.
      </h4>
    </div>
    <div class="col-12 mt-2 mb-5 py-5 justify-content-between">
    </div>
  </div>
</div>
<!--footer -->
<div class="d-flex justify-content-center col-12 mt-3 mx-auto">
  <div class="small text-center text-danger">Copyright &copy; 2020 - Brimasmedia Ltd</div>
</div>
<!--/ footer -->
