     <div class="container my-4 ">
    <div class="jumbotron jumbotron-fluid">

         <p class="lead">Jumbo helper text</p>
         <hr class="my-2">
         <ag-grid-angular
         style="width:100%; height: 400px;"
             class="ag-theme-material text-danger"
             [rowData]="theTradingProducts$|async"
             [columnDefs]="columnDefs"
             (gridReady)="onGridReady($event)"
             (cellClicked)="exportExcel($event)"
             >
         </ag-grid-angular>

      </div>


     <form [formGroup]="tradingProductForm" >

     <ul class="nav nav-bar" id="navId">

     <!-- <li class="nav-item ">
     <button class="btn btn-success btn-lg mx-2" (click)="setSellingPrice()">Validate</button>
     </li> -->

     <li class="nav-item">
     <button  class="btn btn-info btn-lg" [disabled]="!tradingProductForm.valid" (click)="uploadForm()">Submit</button>
     </li>

     <li class="nav-item ">
     <button  class="btn btn-danger btn-lg mx-2" (click)='check()'>Cancel</button>

     </li>

     </ul>


<!-- style="width: 500px; height: 500px;" -->
     <div class="row my-4">

     <!-- <div class="col-xs-1-12"> -->
     <div class="card mx-3 p-4">
     <div class="card-body">
     <h3 class="card-title">Trading Product Details</h3>
     <div class="row d-flex flex-row ustify-content-center">
     <div class="col-xs-12 xl-6">

     <div class="form-group">

     <label
     for="tradingProductName"
     [ngClass]="fval.tradingProductName.valid ? 'text-info' : ''"
     >Trading Product Name<i *ngIf="fval.tradingProductName.valid" class="material-icons"
     >check_circle</i
     >
     <input type="tradingProductName" formControlName="tradingProductName" class="form-control" autocomplete="off"
     id="exampleInputEmail1" aria-describedby="tradingProductNameHelp">
     <small  *ngIf="
     (fval.tradingProductName.touched || fval.tradingProductName.dirty)" id="tradingProductNameHelp" class="form-text text-info">Name of the product like T-shirt
     printing</small></label>

     <label class="text-danger col" *ngIf="
     (fval.tradingProductName.touched || fval.tradingProductName.dirty) &&
     fval.tradingProductName.errors?.required
     ">
     The trading product Name  is Required!
     </label>
     </div>
     </div>
     </div>


     <div class="col-xs-1-12">
     <div class="form-group">


     <label
     for="tradingProductCategory"
     [ngClass]="fval.tradingProductCategory.valid ? 'text-info' : ''"
     >Trading Product Category<i *ngIf="fval.tradingProductCategory.valid" class="material-icons"
     >check_circle</i
     >
     <select class="form-control" formControlName="tradingProductCategory"
     (change)="setSelectedChanges($event)">
     <option selected>Select Trading Product Category</option>
     <option *ngFor="let cat of tradingProductCategory">{{cat.pCatName}}</option>

     </select>
     <small *ngIf="stocked" class="form-text text-info">Stockable items are physical objects whose quantity
     should be tracked</small>
     <small *ngIf="service" class="form-text text-info">Services are non pysical items which cannot be
     stocked, but you can assign costs and prices to them.</small></label>

     <label class="text-danger col" *ngIf="
     (fval.tradingProductCategory.touched || fval.tradingProductCategory.dirty) &&
     fval.tradingProductCategory.errors?.required
     ">
     The trading product category  is Required!
     </label>
     </div>
     </div>



     <div class="col-xs-1-12">
     <div class="form-group">
     <label
     for="tradingProductType"
     [ngClass]="fval.tradingProductType.valid ? 'text-info' : ''"
     >Trading Product Type<i *ngIf="fval.tradingProductType.valid" class="material-icons"
     >check_circle</i
     >
     <select class="form-control" formControlName="tradingProductType" (change)="setTypeChanges($event)">
     <option selected>Select Trading Product Type</option>
     <option *ngFor="let type of tradingProductType">{{type.pTypeName}}</option>


     </select>

     <small *ngIf="composite" class="form-text text-info">A composite contains one or more standard items.
     It can be tracked as one item for all the standard items linked to it</small>
     <small *ngIf="standard" class="form-text text-secondary">This item has one variant which is
     itself</small>
     <small *ngIf="variant" class="form-text text-info">This item has different attributes, like size or
     color. Each variant can be uniquely tracked</small></label>
     <label class="text-danger col" *ngIf="
     (fval.tradingProductType.touched || fval.tradingProductType.dirty) &&
     fval.tradingProductType.errors?.required
     ">
     The trading product type  is Required!
     </label>
     </div>





     <div class="col-xs-1-12" *ngIf='variant' formArrayName="tradingProductVariants">
     <div class="card">
     <!-- <h4 class="card-title text-info">Add Variants</h4> -->

     <div class="card-body">

     <div class="row"
     *ngFor="let variantsX of tradingProductForm.get('tradingProductVariants')['controls'];let variantIndex = index"
     [formGroupName]="variantIndex">


     <div class="col-xs-1-12">

     <div class="form-group">
     <label for="variantAttributes" [ngClass]="variantsX.valid ? 'text-info' : ''">Variant Description<i
     *ngIf="variantsX.valid" class="material-icons">check_circle</i>

     <div class="input-group mb-2">
     <div class="input-group-prepend">
     <div class="input-group-text">
     <i class="fas fa-suitcase text-info mx-auto" style="size: 50px"></i>
     </div>
     </div>

     <!-- <tag-input [theme]="'bootstrap'" [maxItems]='4' formControlName='variantAttributesValues'
     name="items" id="variantAttributes" [editable]='true' placeholder="Enter another value" secondaryPlaceholder="Enter attribute value">
     </tag-input> -->

     <input
              id="variantAttributesValues"
              formControlName="variantAttributesValues"
              type="text"
              class="form-control text-info "
              [ngClass]="{
                'is-invalid':
                  (variantsX.touched ||
                  variantsX.dirty) &&
                  variantsX.errors
              }"
              placeholder="Enter variants description"
              autocomplete="off"
            />

     </div>

     </label>
     <label class="text-danger col" *ngIf="
     (variantsX.touched || variantsX.dirty) &&
     variantsX.errors?.required
     ">
     The product variant description is required
     </label>
     </div>
    </div>

    <label class="text-danger col" *ngIf="
    (fval.tradingProductVariants.touched ||fval.tradingProductVariants.dirty) &&
    fval.tradingProductVariants.errors?.errorsNow
    ">
   The number of Product attributes should be equal to number of product values!
    </label>

    <label class="text-danger col" *ngIf="
    (fval.tradingProductVariants.touched ||fval.tradingProductVariants.dirty) &&
    fval.tradingProductVariants.errors?.required
    ">
   Either attribute or attribute value is required!!!
    </label>
     </div>

     <button type="button" class="btn btn-danger mx-2" (click)='addVariant()'  (click)="addToAttCount()"><i class="fa fa-plus-circle"
      aria-hidden="true"></i>Add Variant</button>

     </div>
     </div>
     </div>

     <div class="col-xs-1-12" *ngIf='composite' formArrayName="tradingProductVariants">
     <div class="card">
     <h4 class="card-title text-info">Add Composite</h4>
     <button type="button" class="btn btn-info mx-2" (click)='openModal(template)' ><i class="fa fa-plus-circle"
     aria-hidden="true"></i>Add</button>
     <div class="card-body">

     <div class="form-group">
     <input type="text" class="form-control" [(ngModel)]="userFilter.stage"  placeholder="Enter Stage Name">
     </div>

     <div class="table-responsive jumbotron jumbotron-fluid">
     <!-- <table class="table table-striped table-bordered  table-hover"  >
     <thead >
     <tr class="text-info">
     <th>#</th>
     <th>Trading Product Name</th>
     <th>Trading Product Category</th>
     <th>Trading Product Type</th>
     <th >Trading Product Description</th>
     <th >Trading Product UnitOfMeasure</th>
     <th >Trading Product Average CostPrice</th>
     <th >Trading Product Average MarkUp</th>
     <th >Trading Product Average Selling Price</th>

     </tr>
     </thead>
     <tbody> -->
     <!-- |filterBy: userFilter  [class.bg-warning]="products.aging_days>=5" [class.text-light]="products.aging_days>=5"
     [class.bg-danger]="products.aging_days>=10" -->
     <!-- <tr *ngFor="let products of theTradingProducts$|async; let i=index"  class="text-info">
     <td>{{ i+1}}</td>
     <td>{{ products.tradingProductName }}</td>
     <td>{{ products.tradingProductCategory }}</td>
     <td>{{ products.tradingProductType }}</td>
     <td>{{ products.tradingProductDescription }}</td>
     <td>{{ products.tradingProductUnitOfMeasure }}</td>
     <td>{{ products.tradingProductAverageCostPrice }}</td>
     <td>{{ products.tradingProductAverageMarkUp }}</td>
     <td>{{ products.tradingProductAverageSellingPrice }}</td>

     </tr>
     </tbody>
     </table> -->


     </div>




     </div>
     </div>
     </div>

     </div>


     </div>

     <div class="form-group">
     <label
     for="tradingProductDescription"
     [ngClass]="fval.tradingProductDescription.valid ? 'text-info' : ''"
     >Description<i *ngIf="fval.tradingProductDescription.valid" class="material-icons"
     >check_circle</i
     ></label>

     <div class="input-group mb-2">
     <div class="input-group-prepend">
     <div class="input-group-text">
     <i
     class="fas fa-lock text-info mx-auto"
     style="size: 50px"
     ></i>
     </div>
     </div>
     <textarea
     id="tradingProductDescription"
     formControlName="tradingProductDescription"
     type="textarea"
     rows="4" cols="50"
     class="form-control text-info"
     [ngClass]="{
     'is-invalid':
     (fval.tradingProductDescription.touched || fval.tradingProductDescription.dirty) &&
     fval.tradingProductDescription.errors
     }"
     placeholder="Enter Trading Product description"
     autocomplete="off"
     ></textarea>
     </div>
     <label
     class="text-danger col"
     *ngIf="
     (fval.tradingProductDescription.touched || fval.tradingProductDescription.dirty) &&
     fval.tradingProductDescription.errors?.required
     "
     >
     Product description is Required!
     </label>
     <label
     class="text-danger col"
     *ngIf="
     (fval.tradingProductDescription.touched || fval.tradingProductDescription.dirty) &&
     fval.tradingProductDescription.errors?.minlength
     "
     >
     At least 5 characters should be typed!
     </label>
     </div>

     <div class="form-group">
     <label
     class="text-info"
     [ngClass]="fval.tradingProductUnitOfMeasure.valid ? 'text-info' : ''"
     >Unit Of Measure<i
     *ngIf="fval.tradingProductUnitOfMeasure.valid"
     class="material-icons"
     >check_circle</i></label>
     <select class="form-control"
     formControlName="tradingProductUnitOfMeasure"     placeholder="Select Unit Of Measure"
     (change)="setSelectedChanges($event)" >
     <option selected>Select Unit Of Measure</option>
     <option *ngFor="let uom of unitOfMeasure$|async">{{uom.uomName+'('+uom.uomAbbreviation+')'}}</option>
     </select>

     <div
     class="text-danger col"
     *ngIf="
     (fval.tradingProductUnitOfMeasure.touched || fval.tradingProductUnitOfMeasure.dirty) &&
     fval.tradingProductUnitOfMeasure.errors?.required">
     Unit of measure is required
     </div>
     </div>



     <div class="form-group">
     <label
     for="tradingProductAverageCostPrice"
     [ngClass]="fval.tradingProductAverageCostPrice.valid ? 'text-info' : ''"
     >Average Cost Price<i *ngIf="fval.tradingProductAverageCostPrice.valid" class="material-icons"
     >check_circle</i
     ></label
     >

     <div class="input-group mb-2">
     <div class="input-group-prepend">
     <div class="input-group-text">
     <i
     class="fas fa-lock text-info mx-auto"
     style="size: 50px"
     ></i>
     </div>
     </div>
     <input
     id="tradingProductAverageCostPrice"
     formControlName="tradingProductAverageCostPrice"
     type="textarea"
     class="form-control text-info"  (keyup)="onKey($event)"
     [ngClass]="{
     'is-invalid':
     (fval.tradingProductAverageCostPrice.touched || fval.tradingProductAverageCostPrice.dirty) &&
     fval.tradingProductAverageCostPrice.errors
     }"
     placeholder="Enter The Average Cost Price"
     autocomplete="off"
     />
     </div>
     <label
     class="text-danger col"
     *ngIf="
     (fval.tradingProductAverageCostPrice.touched || fval.tradingProductAverageCostPrice.dirty) &&
     fval.tradingProductAverageCostPrice.errors?.required">
     Average cost price is Required!
     </label>
     </div>



     <div class="form-group">
     <label
     for="tradingProductAverageMarkUp"
     [ngClass]="fval.tradingProductAverageMarkUp.valid ? 'text-info' : ''"
     >Mark Up<i *ngIf="fval.tradingProductAverageMarkUp.valid" class="material-icons"
     >check_circle</i></label>

     <div class="input-group mb-2">
     <div class="input-group-prepend">
     <div class="input-group-text">
     <i
     class="fas fa-lock text-info mx-auto"
     style="size: 50px"
     ></i>
     </div>
     </div>
     <input
     id="tradingProductAverageMarkUp"
     formControlName="tradingProductAverageMarkUp"
     type="text"
     class="form-control text-info"
     [ngClass]="{
     'is-invalid':
     (fval.tradingProductAverageMarkUp.touched || fval.tradingProductAverageMarkUp.dirty) &&
     fval.tradingProductAverageMarkUp.errors
     }"
     placeholder="Enter Average Mark Up"
     autocomplete="off"
     >
     </div>
     <label
     class="text-danger col"
     *ngIf="
     (fval.tradingProductAverageMarkUp.touched || fval.tradingProductAverageMarkUp.dirty) &&
     fval.tradingProductAverageMarkUp.errors?.required">
     Mark up rate  is Required!
     </label>
     </div>


     <div class="form-group">
     <label
     for="tradingProductAverageSellingPrice"
     [ngClass]="fval.tradingProductAverageSellingPrice.valid ? 'text-info' : ''"
     >Average selling price<i *ngIf="fval.tradingProductAverageSellingPrice.valid" class="material-icons"
     >check_circle</i
     ></label>

     <div class="input-group mb-2">
     <div class="input-group-prepend">
     <div class="input-group-text">
     <i
     class="fas fa-lock text-info mx-auto"
     style="size: 50px"></i>
     </div>
     </div>
     <input
     id="tradingProductAverageSellingPrice"
     formControlName="tradingProductAverageSellingPrice"
     type="text"
     class="form-control text-info"
     [ngClass]="{
     'is-invalid':
     (fval.tradingProductAverageSellingPrice.touched || fval.tradingProductAverageSellingPrice.dirty) &&
     fval.tradingProductAverageSellingPrice.errors
     }"

     autocomplete="off"
     >
     </div>
     <label
     class="text-danger col"
     *ngIf="
     (fval.tradingProductAverageSellingPrice.touched || fval.tradingProductAverageSellingPrice.dirty) &&
     fval.tradingProductAverageSellingPrice.errors?.required
     "
     >
     Average cost price  is Required!
     </label>
     </div>
     <!-- (click)="t()" -->
     <button class="btn btn-success btn-lg mx-2" (click)="validateForm()" >Validate</button>
     </div>
     </div>

     </form>












     <!-- <div class="form-group">
     <input type="text" class="form-control" [(ngModel)]="userFilter.stage"  placeholder="Enter Stage Name">
     </div> -->

     <!-- <div class="table-responsive jumbotron jumbotron-fluid"> -->
     <!-- <table class="table table-striped table-bordered  table-hover"  >
     <thead >
     <tr class="text-info">
     <th>#</th>
     <th>Name</th>
     <th>Date Taken</th>
     <th>Time Taken</th>
     <th >Amount Taken</th>
     <th >Loan+Interest Expected</th>
     <th >Loan+Interest Paid</th>
     <th >Loan+Interest Remaining</th>
     <th >Days Unpaid</th>


     </tr>
     </thead>
     <tbody> -->
     <!-- |filterBy: userFilter  [class.bg-warning]="products.aging_days>=5" [class.text-light]="products.aging_days>=5"
     [class.bg-danger]="products.aging_days>=10" -->
     <!-- <tr *ngFor="let products of theTradingProducts$|async; let i=index"  class="text-info">
     <td>{{ i+1}}</td>
     <td>{{ products.tradingProductName }}</td>
     <td>{{ products.tradingProductCategory }}</td>
     <td>{{ products.tradingProductType }}</td>
     <td>{{ products.tradingProductDescription }}</td>
     <td>{{ products.tradingProductUnitOfMeasure }}</td>
     <td>{{ products.tradingProductAverageCostPrice }}</td>
     <td>{{ products.tradingProductAverageMarkUp }}</td>
     <td>{{ products.tradingProductAverageSellingPrice }}</td>

     </tr>
     </tbody>
     </table> -->

     <!-- <div class="container"> -->

    <!-- </div> -->
     <!-- </div> -->



     <ng-template #template>
     <div class="modal-header bg-info close pull-right modal-lg">
     <h4 class="modal-title pull-left">List Of Clients</h4>

     <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
     <span aria-hidden="true">&times;</span>
     </button> -->
     </div>
     <div class="modal-body">
     <div class="form-group">
     <input
     type="text"
     class="form-control"
     [(ngModel)]="userFilter.clientName"
     placeholder="Enter Client Name"
     />
     </div>
     <div class="jumbotron-fluid table-responsive mx-5 my-5">
     <table class="table-bordered table-striped mx-3">
     <thead>
     <th>Action</th>
     <!-- <th>Id</th> -->
     <th>Client Name</th>
     <th>Phone Number</th>
     <th>Email</th>
     <th>Approval Status</th>
     </thead>
     <tbody>
     <tr *ngFor="let client of theTradingProducts$|async | filterBy: userFilter">
     <td>
     <button
     class="primary"
     (click)="modalRef.hide()"
     >
     <!-- (click)="updateName(client.clientName, client.id)"  -->
     Add
     </button>
     </td>

     <!-- <td > {{client.id }} </td> -->

     <td>{{ client.clientName }}</td>
     <td>{{ client.phoneNumber }}</td>
     <td>{{ client.email }}</td>
     <td>{{ client.approvalStatus }}</td>
     </tr>
     </tbody>
     </table>
     </div>
     </div>
     </ng-template>
     </div>
