<div class="d-flex flex-column">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="tickets-card2 card shadow-lg mt-2 mb-0 pt-2 pb-1 px-4 px-md-5"
        >
          <div class="row d-flex justify-content-center">
            <div class="col-12 pt-0">
              <h4 class="text-info text-uppercase font-weight-bold pull-right">
                <hr class="top mt-1 mb-0" />
                CREATE CATALOG ITEM
                <hr class="bottom mt-0 mb-0" />
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-self-center">
      <div class="form-card card shadow mt-2 mb-4 d-flex flex-column">
        <div
          class="card-header d-flex justify-content-between align-items-center pt-1 pb-2"
        >
          <h5 class="text-info text-uppercase font-weight-bold m-0">
            <hr class="top mt-1 mb-0" />
            TRADING PRODUCTS
            <hr class="bottom mt-0 mb-0" />
          </h5>
        </div>
        <div class="card-body mt-0 pt-0">
          <div
            class="tickets-card2 d-flex justify-content-between align-items-center mt-0 pt-2 pb-0"
          >
            <h6 class="text-info text-uppercase font-weight-bold">
              <hr class="top mt-1 mb-0" />
              new catalog item
              <hr class="bottom mt-0 mb-0" />
            </h6>
          </div>
          <div class="form-card card shadow mt-0 mb-2 d-flex flex-column">
            <div class="card-body">
              <form [formGroup]="tradingProductForm">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group">
                      <label
                        for="tradingProductName"
                        class=""
                        [ngClass]="
                          fval.tradingProductName.valid ? 'text-success' : ''
                        "
                        >Trading Product Name<i
                          *ngIf="fval.tradingProductName.valid"
                          class="material-icons"
                          >check_circle</i
                        ></label
                      >
                      <input
                        type="tradingProductName"
                        formControlName="tradingProductName"
                        class="form-control"
                        autocomplete="off"
                        id="exampleInputEmail1"
                        aria-describedby="tradingProductNameHelp"
                      />
                      <!-- <input type="text" formControlName="tradingProductName" class="form-control" autocomplete="off"
     id="exampleInputEmail1" aria-describedby="tradingProductNameHelp" /> -->
                      <small
                        *ngIf="
                          fval.tradingProductName.touched ||
                          fval.tradingProductName.dirty
                        "
                        id="tradingProductNameHelp"
                        class="form-text text-info"
                        >e.g. T-shirt printing</small
                      >

                      <label
                        class="text-danger col"
                        *ngIf="
                          (fval.tradingProductName.touched ||
                            fval.tradingProductName.dirty) &&
                          fval.tradingProductName.errors?.required
                        "
                      >
                        The trading product name is Required
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group">
                      <label
                        for="tradingProductCategory"
                        class=""
                        [ngClass]="
                          fval.tradingProductCategory.valid
                            ? 'text-success'
                            : ''
                        "
                        >Trading Product Category<i
                          *ngIf="fval.tradingProductCategory.valid"
                          class="material-icons"
                          >check_circle</i
                        ></label
                      >
                      <select
                        class="form-control"
                        formControlName="tradingProductCategory"
                        (change)="setSelectedChanges($event)"
                      >
                        <option selected>
                          Select Trading Product Category
                        </option>
                        <option *ngFor="let cat of tradingProductCategory">
                          {{ cat.pCatName }}
                        </option>
                      </select>
                      <small *ngIf="stocked" class="form-text text-info"
                        >Stockable items are physical objects whose quantity
                        should be tracked.</small
                      >
                      <small *ngIf="service" class="form-text text-info"
                        >Services are non physical items which cannot be
                        stocked, but you can assign costs and prices to
                        them.</small
                      >

                      <label
                        class="text-danger col"
                        *ngIf="
                          (fval.tradingProductCategory.touched ||
                            fval.tradingProductCategory.dirty) &&
                          fval.tradingProductCategory.errors?.required
                        "
                      >
                        The trading product category is required
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="form-group">
                      <label
                        for="tradingProductType"
                        class=""
                        [ngClass]="
                          fval.tradingProductType.valid ? 'text-success' : ''
                        "
                        >Trading Product Type<i
                          *ngIf="fval.tradingProductType.valid"
                          class="material-icons"
                          >check_circle</i
                        ></label
                      >
                      <select
                        class="form-control"
                        formControlName="tradingProductType"
                        (change)="setTypeChanges($event)"
                      >
                        <option selected>Select Trading Product Type</option>
                        <option *ngFor="let type of tradingProductType">
                          {{ type.pTypeName }}
                        </option>
                      </select>

                      <small *ngIf="composite" class="form-text text-info"
                        >A composite contains one or more standard items. It can
                        be tracked as one item for all the standard items linked
                        to it.</small
                      >
                      <small *ngIf="standard" class="form-text text-info"
                        >This item has one variant which is itself.</small
                      >
                      <small *ngIf="variant" class="form-text text-info"
                        >This item has different attributes, like size or color.
                        Each variant can be uniquely tracked.</small
                      >
                      <label
                        class="text-danger col"
                        *ngIf="
                          (fval.tradingProductType.touched ||
                            fval.tradingProductType.dirty) &&
                          fval.tradingProductType.errors?.required
                        "
                      >
                        The trading product type is required
                      </label>
                    </div>
                  </div>
                </div>
                <div
                  class="col-12"
                  *ngIf="variant"
                  formArrayName="tradingProductVariants"
                >
                  <div class="card shadow mt-1 mb-3 d-flex flex-column">
                    <div class="card-body p-2">
                      <div
                        class="row"
                        *ngFor="
                          let variantsX of tradingProductForm.get(
                            'tradingProductVariants'
                          )['controls'];
                          let variantIndex = index
                        "
                        [formGroupName]="variantIndex"
                      >
                        <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group">
                            <label
                              for="variantAttributes"
                              [ngClass]="variantsX.valid ? 'text-success' : ''"
                              >Variant Description<i
                                *ngIf="variantsX.valid"
                                class="material-icons"
                                >check_circle</i
                              ></label
                            >
                            <!-- <div class="input-group"> -->
                            <input
                              id="variantAttributesValues"
                              formControlName="variantAttributesValues"
                              type="text"
                              class="form-control"
                              [ngClass]="{
                                'is-invalid':
                                  (variantsX.touched || variantsX.dirty) &&
                                  variantsX.errors
                              }"
                              placeholder="Enter variant description"
                              autocomplete="off"
                            />
                            <label
                              class="text-danger col"
                              *ngIf="
                                (variantsX['controls'].variantAttributesValues
                                  .touched ||
                                  variantsX['controls'].variantAttributesValues
                                    .dirty) &&
                                variantsX['controls'].variantAttributesValues
                                  .errors?.required
                              "
                            >
                              The product variant description is required
                            </label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group">
                            <label
                              for="variantCostPrice"
                              [ngClass]="variantsX.valid ? 'text-success' : ''"
                              >Variant Cost Price<i
                                *ngIf="variantsX.valid"
                                class="material-icons"
                                >check_circle</i
                              ></label
                            >
                            <input
                              id="variantCostPrice"
                              formControlName="variantCostPrice"
                              type="text"
                              class="form-control"
                              [ngClass]="{
                                'is-invalid':
                                  (variantsX.touched || variantsX.dirty) &&
                                  variantsX.errors
                              }"
                              placeholder="Enter variant cost price"
                              autocomplete="off"
                            />
                            <label
                              class="text-danger col"
                              *ngIf="
                                (variantsX['controls'].variantCostPrice
                                  .touched ||
                                  variantsX['controls'].variantCostPrice
                                    .dirty) &&
                                variantsX['controls'].variantCostPrice.errors
                                  ?.required
                              "
                            >
                              The product variant cost price is required
                            </label>
                          </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group">
                            <label
                              for="variantMarkUp"
                              [ngClass]="variantsX.valid ? 'text-success' : ''"
                              >Variant Mark Up<i
                                *ngIf="variantsX.valid"
                                class="material-icons"
                                >check_circle</i
                              ></label
                            >
                            <input
                              id="variantMarkUp"
                              formControlName="variantMarkUp"
                              type="text"
                              class="form-control"
                              [ngClass]="{
                                'is-invalid':
                                  (variantsX.touched || variantsX.dirty) &&
                                  variantsX.errors
                              }"
                              placeholder="Enter variant mark up"
                              autocomplete="off"
                            />
                            <label
                              class="text-danger col"
                              *ngIf="
                                (variantsX['controls'].variantMarkUp.touched ||
                                  variantsX['controls'].variantMarkUp.dirty) &&
                                variantsX['controls'].variantMarkUp.errors
                                  ?.required
                              "
                            >
                              The product variant mark up is required
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <button
                          type="button"
                          class="btn btn-info mx-2"
                          (click)="addVariant()"
                          (click)="addToAttCount()"
                        >
                          <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          Add Variant
                        </button>
                      </div>
                    </div>
                  </div>

                  <div
                    class="col-12"
                    *ngIf="composite"
                    formArrayName="tradingProductVariants"
                  >
                    <div class="card shadow mt-1 mb-3 d-flex flex-column">
                      <div
                        class="card-header d-flex justify-content-between align-items-center"
                      >
                        <h5 class="text-info font-weight-bold m-0">
                          <i class="fa fa-plus" aria-hidden="true"></i> Add
                          Composite
                        </h5>
                      </div>
                      <div class="card-body p-2">
                        <button
                          type="button"
                          class="btn btn-info mx-2"
                          (click)="openModal(template)"
                        >
                          <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          Add
                        </button>

                        <div class="row">
                          <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="userFilter.stage"
                                placeholder="Enter Stage Name"
                              />
                            </div>

                            <div class="table-responsive">
                              <!-- <table class="table table-striped table-bordered  table-hover"  >
     <thead >
     <tr class="text-info">
     <th>#</th>
     <th>Trading Product Name</th>
     <th>Trading Product Category</th>
     <th>Trading Product Type</th>
     <th >Trading Product Description</th>
     <th >Trading Product UnitOfMeasure</th>
     <th >Trading Product Average CostPrice</th>
     <th >Trading Product Average MarkUp</th>
     <th >Trading Product Average Selling Price</th>

     </tr>
     </thead>
     <tbody> -->
                              <!-- |filterBy: userFilter  [class.bg-warning]="products.aging_days>=5" [class.text-light]="products.aging_days>=5"
     [class.bg-danger]="products.aging_days>=10" -->
                              <!-- <tr *ngFor="let products of theTradingProducts$|async; let i=index"  class="text-info">
     <td>{{ i+1}}</td>
     <td>{{ products.tradingProductName }}</td>
     <td>{{ products.tradingProductCategory }}</td>
     <td>{{ products.tradingProductType }}</td>
     <td>{{ products.tradingProductDescription }}</td>
     <td>{{ products.tradingProductUnitOfMeasure }}</td>
     <td>{{ products.tradingProductAverageCostPrice }}</td>
     <td>{{ products.tradingProductAverageMarkUp }}</td>
     <td>{{ products.tradingProductAverageSellingPrice }}</td>

     </tr>
     </tbody>
     </table> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group">
                            <label
                              for="tradingProductDescription"
                              [ngClass]="
                                fval.tradingProductDescription.valid
                                  ? 'text-success'
                                  : ''
                              "
                              >Description<i
                                *ngIf="fval.tradingProductDescription.valid"
                                class="material-icons"
                                >check_circle</i
                              ></label
                            >

                            <div class="input-group">
                              <textarea
                                id="tradingProductDescription"
                                formControlName="tradingProductDescription"
                                type="textarea"
                                rows="4"
                                cols="50"
                                class="form-control"
                                [ngClass]="{
                                  'is-invalid':
                                    (fval.tradingProductDescription.touched ||
                                      fval.tradingProductDescription.dirty) &&
                                    fval.tradingProductDescription.errors
                                }"
                                placeholder="Enter Trading Product description"
                                autocomplete="off"
                              ></textarea>
                            </div>
                            <label
                              class="text-danger col"
                              *ngIf="
                                (fval.tradingProductDescription.touched ||
                                  fval.tradingProductDescription.dirty) &&
                                fval.tradingProductDescription.errors?.required
                              "
                            >
                              Product description is required
                            </label>
                            <label
                              class="text-danger col"
                              *ngIf="
                                (fval.tradingProductDescription.touched ||
                                  fval.tradingProductDescription.dirty) &&
                                fval.tradingProductDescription.errors?.minlength
                              "
                            >
                              At least 5 characters should be typed
                            </label>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                          <div class="form-group">
                            <label
                              class=""
                              [ngClass]="
                                fval.tradingProductUnitOfMeasure.valid
                                  ? 'text-success'
                                  : ''
                              "
                              >Unit Of Measure<i
                                *ngIf="fval.tradingProductUnitOfMeasure.valid"
                                class="material-icons"
                                >check_circle</i
                              ></label
                            >
                            <select
                              class="form-control"
                              formControlName="tradingProductUnitOfMeasure"
                              placeholder="Select Unit Of Measure"
                              (change)="setSelectedChanges($event)"
                            >
                              <option selected>Select Unit Of Measure</option>
                              <option
                                *ngFor="let uom of unitOfMeasure$ | async"
                              >
                                {{
                                  uom.uomName + "(" + uom.uomAbbreviation + ")"
                                }}
                              </option>
                            </select>

                            <div
                              class="text-danger col"
                              *ngIf="
                                (fval.tradingProductUnitOfMeasure.touched ||
                                  fval.tradingProductUnitOfMeasure.dirty) &&
                                fval.tradingProductUnitOfMeasure.errors
                                  ?.required
                              "
                            >
                              Unit of measure is required
                            </div>
                          </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                          <div
                            class="form-group"
                            *ngIf="!(variant || composite)"
                          >
                            <label
                              for="tradingProductAverageCostPrice"
                              [ngClass]="
                                fval.tradingProductAverageCostPrice.valid
                                  ? 'text-success'
                                  : ''
                              "
                              >Average Cost Price<i
                                *ngIf="
                                  fval.tradingProductAverageCostPrice.valid
                                "
                                class="material-icons"
                                >check_circle</i
                              ></label
                            >

                            <div class="input-group">
                              <input
                                id="tradingProductAverageCostPrice"
                                formControlName="tradingProductAverageCostPrice"
                                type="text"
                                class="form-control"
                                (keyup)="onKey($event)"
                                [ngClass]="{
                                  'is-invalid':
                                    (fval.tradingProductAverageCostPrice
                                      .touched ||
                                      fval.tradingProductAverageCostPrice
                                        .dirty) &&
                                    fval.tradingProductAverageCostPrice.errors
                                }"
                                placeholder="Enter Average Cost Price"
                                autocomplete="off"
                              />
                            </div>
                            <label
                              class="text-danger col"
                              *ngIf="
                                (fval.tradingProductAverageCostPrice.touched ||
                                  fval.tradingProductAverageCostPrice.dirty) &&
                                fval.tradingProductAverageCostPrice.errors
                                  ?.required
                              "
                            >
                              Average cost price is required
                            </label>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-4">
                          <div
                            class="form-group"
                            *ngIf="!(variant || composite)"
                          >
                            <label
                              for="tradingProductAverageMarkUp"
                              [ngClass]="
                                fval.tradingProductAverageMarkUp.valid
                                  ? 'text-success'
                                  : ''
                              "
                              >Mark Up<i
                                *ngIf="fval.tradingProductAverageMarkUp.valid"
                                class="material-icons"
                                >check_circle</i
                              ></label
                            >

                            <div class="input-group">
                              <input
                                id="tradingProductAverageMarkUp"
                                formControlName="tradingProductAverageMarkUp"
                                type="text"
                                class="form-control"
                                [ngClass]="{
                                  'is-invalid':
                                    (fval.tradingProductAverageMarkUp.touched ||
                                      fval.tradingProductAverageMarkUp.dirty) &&
                                    fval.tradingProductAverageMarkUp.errors
                                }"
                                placeholder="Enter Average Mark Up"
                                autocomplete="off"
                              />
                            </div>
                            <label
                              class="text-danger col"
                              *ngIf="
                                (fval.tradingProductAverageMarkUp.touched ||
                                  fval.tradingProductAverageMarkUp.dirty) &&
                                fval.tradingProductAverageMarkUp.errors
                                  ?.required
                              "
                            >
                              Mark up rate is required
                            </label>
                          </div>

                          <!-- <div class="form-group">
     <label
     for="tradingProductAverageSellingPrice"
     [ngClass]="fval.tradingProductAverageSellingPrice.valid ? 'text-info' : ''"
     >Average selling price<i *ngIf="fval.tradingProductAverageSellingPrice.valid" class="material-icons"
     >check_circle</i
     ></label>

     <div class="input-group mb-2">
     <div class="input-group-prepend">
     <div class="input-group-text">
     <i
     class="fas fa-lock text-info mx-auto"
     style="size: 50px"></i>
     </div>
     </div>
     <input
     id="tradingProductAverageSellingPrice"
     formControlName="tradingProductAverageSellingPrice"
     type="text"
     class="form-control text-info"
     [ngClass]="{
     'is-invalid':
     (fval.tradingProductAverageSellingPrice.touched || fval.tradingProductAverageSellingPrice.dirty) &&
     fval.tradingProductAverageSellingPrice.errors
     }"

     autocomplete="off"
     >
     </div>
     <label
     class="text-danger col"
     *ngIf="
     (fval.tradingProductAverageSellingPrice.touched || fval.tradingProductAverageSellingPrice.dirty) &&
     fval.tradingProductAverageSellingPrice.errors?.required
     "
     >
     Average cost price  is Required!
     </label>
     </div> -->
                          <!-- (click)="t()" -->
                          <!-- <button class="btn btn-success btn-lg mx-2" (click)="validateForm()" >Validate</button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group" id="navId"> -->
                <!-- <li class="nav-item ">
    <button class="btn btn-success btn-lg mx-2" (click)="setSellingPrice()">Validate</button>
  </li> -->
                <div class="post-buttons form-group">
                  <button
                    class="btn btn-primary btn-sm col-5 col-md-2"
                    [disabled]="!tradingProductForm.valid"
                    (click)="uploadForm()"
                  >
                    Save</button
                  >&nbsp;
                  <button
                    class="btn btn-danger btn-sm col-5 col-md-2"
                    (click)="check()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!--record container-->
            <!--to be displayed if no rfqs to work on-->
            <div class="invest-card card my-2 py-2 mx-3 px-3 shadow-lg">
              <div class="col-12 my-5 py-5 justify-content-between">
                <h4 class="text-center text-info">No Trading Products yet</h4>
              </div>
            </div>
            <div
              class="invest-card card mt-1 pt-2 pb-3 mb-3 mx-3 px-1 px-lg-3 shadow-lg"
            >
              <div class="iteration">
                <div class="item-container-1 mt-1">
                  <div
                    class="list-card card mt-1 pt-2 mb-0 mx-auto px-2 px-lg-3 pb-1 shadow-lg"
                    (cellClicked)="exportExcel($event)"
                  >
                    <div class="list-card-body card-body my-0 py-0 mx-0">
                      <div class="row my-0 pt-md-0 pb-md-1 mx-md-0 px-md-0">
                        <div class="col-12 mx-0 px-0">
                          <div class="row mx-md-0 px-md-0">
                            <div
                              class="col-12 col-md-6 col-xl-3 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-6 col-md-5 col-xl-4 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">ID:</span>
                                </div>
                                <div
                                  class="col-6 col-md-7 col-xl-8 d-flex justify-content-start font-weight-bold mx-0 px-0"
                                >
                                  <span class="itemCreated"> </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-5 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-6 col-md-5 col-xl-2 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Name:</span>
                                </div>
                                <div
                                  class="col-6 col-md-7 col-xl-10 d-flex justify-content-start font-weight-bold mx-0 px-0"
                                >
                                  <span class="itemCreated"> </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-6 col-md-5 col-xl-4 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Category:</span>
                                </div>
                                <div
                                  class="col-6 col-md-7 col-xl-8 d-flex justify-content-start font-weight-bold mx-0 px-0"
                                >
                                  <span class="itemCreated"> </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-6 col-md-5 col-xl-4 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Type:</span>
                                </div>
                                <div
                                  class="col-6 col-md-7 col-lg-8 d-flex justify-content-start font-weight-bold mx-0 px-0"
                                >
                                  <span class="itemCreated"> </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-6 col-md-5 col-xl-4 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Description:</span>
                                </div>
                                <div
                                  class="col-6 col-md-7 col-xl-8 d-flex justify-content-start font-weight-bold mx-0 px-0"
                                >
                                  <span class="itemCreated"> </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-6 col-md-5 col-xl-4 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Unit Of Measure:</span>
                                </div>
                                <div
                                  class="col-6 col-md-7 col-xl-8 d-flex justify-content-start font-weight-bold mx-0 px-0"
                                >
                                  <span class="itemCreated"> </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-6 col-md-5 col-xl-4 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Ave. Cost Price:</span>
                                </div>
                                <div
                                  class="col-6 col-md-7 col-xl-8 d-flex justify-content-start font-weight-bold mx-0 px-0"
                                >
                                  <span class="itemCreated"> </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-6 col-md-5 col-xl-4 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Ave. Mark up:</span>
                                </div>
                                <div
                                  class="col-6 col-md-7 col-xl-8 d-flex justify-content-start font-weight-bold mx-0 px-0"
                                >
                                  <span class="itemCreated"> </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-6 col-md-5 col-xl-4 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Ave. Selling Price:</span>
                                </div>
                                <div
                                  class="col-6 col-md-7 col-xl-8 d-flex justify-content-start font-weight-bold mx-0 px-0"
                                >
                                  <span class="itemCreated"> </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ end of record container-->
            <!--
            <ag-grid-angular
              style="width: 100%; height: auto; min-height: 100px"
              class="ag-theme-material text-danger"
              [rowData]="theTradingProducts$ | async"
              [columnDefs]="columnDefs"
              (gridReady)="onGridReady($event)"
              (cellClicked)="exportExcel($event)"
            >
            </ag-grid-angular> -->
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
     <input type="text" class="form-control" [(ngModel)]="userFilter.stage"  placeholder="Enter Stage Name">
     </div> -->

      <!-- <div class="table-responsive jumbotron jumbotron-fluid"> -->
      <!-- <table class="table table-striped table-bordered  table-hover"  >
     <thead >
     <tr class="text-info">
     <th>#</th>
     <th>Name</th>
     <th>Date Taken</th>
     <th>Time Taken</th>
     <th >Amount Taken</th>
     <th >Loan+Interest Expected</th>
     <th >Loan+Interest Paid</th>
     <th >Loan+Interest Remaining</th>
     <th >Days Unpaid</th>


     </tr>
     </thead>
     <tbody> -->
      <!-- |filterBy: userFilter  [class.bg-warning]="products.aging_days>=5" [class.text-light]="products.aging_days>=5"
     [class.bg-danger]="products.aging_days>=10" -->
      <!-- <tr *ngFor="let products of theTradingProducts$|async; let i=index"  class="text-info">
     <td>{{ i+1}}</td>
     <td>{{ products.tradingProductName }}</td>
     <td>{{ products.tradingProductCategory }}</td>
     <td>{{ products.tradingProductType }}</td>
     <td>{{ products.tradingProductDescription }}</td>
     <td>{{ products.tradingProductUnitOfMeasure }}</td>
     <td>{{ products.tradingProductAverageCostPrice }}</td>
     <td>{{ products.tradingProductAverageMarkUp }}</td>
     <td>{{ products.tradingProductAverageSellingPrice }}</td>

     </tr>
     </tbody>
     </table> -->

      <!-- <div class="container"> -->

      <!-- </div> -->
      <!-- </div> -->

      <ng-template #template>
        <div class="modal-header bg-info text-white close">
          <h4 class="modal-title">List Of Clients</h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input
              type="text"
              class="form-control col-md-5"
              [(ngModel)]="userFilter.clientName"
              placeholder="Enter Client Phone Number"
            />
          </div>
          <div class="table-responsive my-2">
            <!--record container-->
            <div class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg">
              <div class="item-container-1 mt-1">
                <div
                  class="list-card-1 card mt-1 pt-2 mb-0 mx-auto px-0 pb-1 shadow-lg"
                  *ngFor="
                    let client of theTradingProducts$
                      | async
                      | filterBy: userFilter
                  "
                >
                  <div class="list-card-body card-body my-0 py-0 mx-0">
                    <div class="row my-0 py-0">
                      <div
                        class="col-2 col-md-1 mx-md-0 px-md-0 d-flex justify-content-center"
                      >
                        <img
                          class="img-circle mx-auto mt-2 mt-md-0 mt-xl-1 mb-1 pb-0"
                          (click)="openModal(template)"
                          src="assets/img/man.svg"
                        />
                      </div>
                      <div class="col-10 col-md-11 mx-lg-0 px-lg-0">
                        <div class="row mx-md-0 px-md-0">
                          <div class="col-12 col-md-6 col-xl-5 mx-xl-0 px-xl-0">
                            <div class="row">
                              <div
                                class="col-3 col-lg-2 d-flex justify-content-start mx-0 px-0"
                              >
                                <span class="">Name:</span>
                              </div>
                              <div
                                class="col-9 col-lg-10 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                              >
                                <span class="itemCreated">{{
                                  client.clientName
                                }}</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-4 col-xl-3 mx-md-0 px-md-0">
                            <div class="row">
                              <div
                                class="col-4 col-xl-3 d-flex justify-content-start mx-0 px-0"
                              >
                                <span class="">Phone No.:</span>
                              </div>
                              <div
                                class="col-8 col-xl-9 d-flex justify-content-start font-weight-bold mx-0 px-0"
                              >
                                <span class="itemCreated">
                                  {{ client.phoneNumber }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6 col-xl-4 mx-xl-0 px-xl-0">
                            <div class="row">
                              <div
                                class="col-3 col-lg-2 d-flex justify-content-start mx-0 px-0"
                              >
                                <span class="">Email:</span>
                              </div>
                              <div
                                class="col-9 col-lg-10 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                              >
                                <span class="itemCreated"
                                  >{{ client.email }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-4 col-xl-8 mx-md-0 px-md-0">
                            <div class="row">
                              <div
                                class="col-4 col-md-6 col-lg-4 col-xl-2 d-flex justify-content-start mx-0 px-0"
                              >
                                <span class="">Approval Status:</span>
                              </div>
                              <div
                                class="col-8 col-md-6 col-lg-8 col-xl-10 d-flex justify-content-start font-weight-bold mx-0 px-0"
                              >
                                <span class="itemCreated"
                                  >{{ client.approvalStatus }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-2">
                            <div class="row">
                              <div class="col d-flex justify-content-end">
                                <button
                                  class="btn btn-info mt-1"
                                  tooltip="Add Customer"
                                  (click)="modalRef.hide()"
                                >
                                  <i class="fas fa-plus"></i> Add
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ end of record container-->
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
