 <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top my-0 px-0 py-0" id="mainNav">
  <div class="container">
    <a class="navbar-brand logo logo-ico-widht-text js-scroll-trigger mx-auto pr-5" href=""><img class=""
        [src]="imageUrl" alt="Brimas Media" />
    </a>

    <button class="navbar-toggler navbar-toggler-right text-warning" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-label="Toggle navigation" [attr.aria-expanded]="isCollapsed" (click)="toggleArial()" >

      <span class="navbar-toggler-icon text-warning"></span>
    </button>
    <div [ngClass]="toggleClass" class="collapse navbar-collapse col-offset-lg-3 col-lg-9" id="navbarResponsive">
    </div>
  </div>
</nav>
<router-outlet>
</router-outlet>

