 <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-1" id="mainNav">
  <div class="container">
    <a class="navbar-brand logo logo-ico-widht-text js-scroll-trigger" href=""><img class=""
        [src]="imageUrl" width="" height="" alt="Brimas Media" />
    </a>
    <button class="navbar-toggler navbar-toggler-right text-info" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-info"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-lg-0">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink=""><i class="fas fa-home"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropbtn js-scroll-trigger" routerLink="about"><i class="fas fa-info-circle"></i>&nbsp;About</a>
          <div class="dropdown-content">
            <a routerLink="about/whoWeAre"><i class="fas fa-info-circle"></i>&nbsp;Who we are</a>
            <a routerLink="our-clients"><i class="fas fa-business-time"></i>&nbsp;Our Clients</a>
            <a routerLink="gallery"><i class="fas fa-photo-video"></i>&nbsp;Gallery</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropbtn js-scroll-trigger" routerLink="services"><i class="fas fa-tasks"></i>&nbsp;Services</a>
          <div class="dropdown-content">
            <a routerLink="./services/largeFormatPrint"><i class="fas fa-print"></i>&nbsp;Large-format printing</a>
            <a routerLink="./services/commercialPrint"><i class="fas fa-box-open"></i>&nbsp;Commercial printing</a>
            <a routerLink="./services/corporateGifts"><i class="fas fa-gifts"></i>&nbsp;Corporate gifts</a>
            <a routerLink="./services/promotionItems"><i class="fas fa-parachute-box"></i>&nbsp;Promotional items</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="loginpage"
          ><i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropbtn js-scroll-trigger" routerLink="register"><i class="fas fa-registered"></i>&nbsp;Register </a>
          <div class="dropdown-content">
            <a routerLink="registeruser"><i class="fas fa-user"></i>&nbsp;Register Employee</a>
            <a routerLink="register-client"><i class="fas fa-user-friends"></i>&nbsp;Register Client</a>
            <a routerLink="registersupplier"><i class="fas fa-people-carry"></i>&nbsp;Register Supplier</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="/contact"><i class="fas fa-envelope"></i>&nbsp;Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="component-top">
<router-outlet>
</router-outlet>
</div>

