<div class="container-fluid shadow-lg pb-0 mx-0 px-0">
  <div class="container-fluid mt-1 mb-0 pb-0">
    <div class="row ">
      <div class="col-12 col-lg-6 mt-4 pt-5">
        <ol class="breadcrumb float-sm-left mt-3 pt-2 pl-2">
          <li class="breadcrumb-item text-info">
            <a class="pointerCursor" routerLink="/authpage"
              ><i class="fas fa-home"></i>&nbsp;Home</a
            >
          </li>
          <li class="breadcrumb-item active">
            <i class="fas fa-people-carry"></i>&nbsp;Supplier Registration
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->

  <!--Main content -->
  <div class="container d-flex justify-content-center mx-auto px-0">
    <div class="supplier-card card shadow-lg col-xs-12 center my-1 mx-auto mb-3 px-0 pt-2 pb-0">
      <div class="card-title text-center text-info">
        <hr class="top mb-1">Supplier Registration
        <hr class="bottom mt-1">
      </div>
       <div class="card-body pt-0 pb-1 mx-0 px-5">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" #useform="ngForm">
              <mat-form-field appearance="fill">
                <mat-label for="user_name"
                  >Name</mat-label>
                <mat-icon matPrefix>person_outline</mat-icon>
                <input matInput
                formControlName="user_name" placeholder="Enter your name" />
                <mat-error *ngIf="this.userForm.get('user_name').hasError('required')">
                  Name is required
                </mat-error>
            <mat-error
              *ngIf="
                !this.userForm.get('user_name').hasError('required') &&
                this.userForm.get('user_name').hasError('minLength')
              "
            >
              Name should not be less than two characters
            </mat-error>
            <mat-error
              *ngIf="
                !this.userForm.get('user_name').hasError('required') &&
                this.userForm.get('user_name').hasError('maxLength')
              "
            >
              Name should have a maximum of 128 characters
            </mat-error>
            <mat-error
              *ngIf="
                !this.userForm.get('user_name').hasError('required') &&
                this.userForm.get('user_name').hasError('hasCharacters')
              "
            >
              Name should not include digits
            </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Phone number</mat-label>
                <mat-icon matPrefix>phone_android</mat-icon>
                <input
                  matInput
                  formControlName="phone_number"
                  placeholder="Enter phone number"
                />
                <mat-error
                    *ngIf="
 this.userForm.get('phone_number').hasError('required')
                    "
                                      >Phone number is required
                </mat-error>
                <mat-error
                    *ngIf="
                      !this.userForm.get('phone_number').hasError('required') &&
                      this.userForm.get('phone_number').hasError('hasNumber')
                    "
                    >Phone number is invalid
</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input type="password"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                  placeholder="Enter your password"
                />
                <span
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </span>
                <mat-error
                    *ngIf="this.userForm.get('password').hasError('required')"
                  >Password is required
                </mat-error>
                <mat-error
                    *ngIf="
                      !this.userForm.get('password').hasError('required') &&
                      this.userForm.get('password').hasError('minLength')
                    "
                    >Password should have atleast 8 characters
</mat-error
                >
              <mat-error
                    *ngIf="
                      !this.userForm.get('password').hasError('required') &&
                      this.userForm.get('password').hasError('hasCapitalCase')
                    "
                    >Password should have atleast 1 capital case letter
</mat-error
                >
              <mat-error
                    *ngIf="
                      !this.userForm.get('password').hasError('required') &&
                      this.userForm.get('password').hasError('hasSmallCase')
                    "
                    >Password should have atleast 1 small case characters
</mat-error
                >                            <mat-error
                    *ngIf="
                      !this.userForm.get('password').hasError('required') &&
                      this.userForm.get('password').hasError('hasSpecialCharacters')
                    "
                    >Password should have atleast 1 special character
</mat-error
                >              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Confirm password</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input type="password"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="confirmPassword"
                  placeholder="Confirm password"
                />
                <span
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </span>
                <mat-error
                    *ngIf="this.userForm.get('confirmPassword').hasError('required')"
                  >Confirm password
                </mat-error>
                <mat-error
                    *ngIf="!this.userForm.get('confirmPassword').hasError('required') && this.userForm.get('confirmPassword').hasError('NoPasswordMatch')
                    ">Passwords do not match
                </mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
              >
                <mat-label>Email</mat-label>
                <mat-icon matPrefix>mail</mat-icon>
                <input
                  matInput
                  formControlName="email"
                  placeholder="Enter your email address"
                />
                <mat-error
                    *ngIf="this.userForm.get('email').hasError('email')"
                  >Email is required
                </mat-error>
              </mat-form-field>
            </form>
              <div class="foot d-flex  mt-3 pt-1 pb-3 mx-auto">
                <button type="button" class="btn btn-danger col-5 mx-auto" (click)="useform.reset()">
                  Cancel
                </button>
                <button
                class="btn btn-info col-5 mx-auto" type="button"  [disabled]="!userForm.valid"
 (click)="useform.ngSubmit.emit()"
                >
                Register
              </button>
                <ngx-spinner
                  class="bg-warning bg-success"
                  size="medium"
                  type="ball-scale-multiple"
                >
                  <p class="text-light">Loading...</p>
                </ngx-spinner>
            </div>
      </div>
    </div>
  </div>
  <!-- /.content -->
  <!-- /.content-wrapper -->
  <!-- ./wrapper -->
</div>
<!-- <footer class="main-footer"> -->
<div class="container mt-3 pb-2">
  <div class="col-xs-12 col-lg-12">
    <div class="small text-center text-danger">
      Copyright &copy; 2020 - Brimasmedia Ltd
    </div>
  </div>
</div>
<!-- </footer> -->
