
<header class="masthead" [ngStyle]="{'background-image': getUrl()}">
  <div class="container h-100">
    <div class="row h-95 align-items-left justify-content-left text-center">
      <div class="col-lg-4 align-self-sm-end mt-2 pt-5">
        <p class="text-white font-weight-bold  mt-4 pt-5">
          We are the Brand Leaders In Printing, Corporate Branding, Commercial
          Printing and Large-format Material
        </p>
        <p class="text-primo">
          <strong> "Enhancing Your Brand"</strong>
        </p>
        <a class="btn btn-primary btn-sm js-scroll-trigger" routerLink="about">Learn More&nbsp;<i
            class="fas fa-arrow-right"></i></a>
        <hr class="divider my-6">
      </div>
    </div>
  </div>
  <!-- Footer -->
     <div class="container">
      <div class="small text-center text-warning mt-sm-5 pb-sm-2">Copyright &copy; 2020 - Brimasmedia Ltd</div>
    </div>
</header>

