<div class="d-flex flex-column">
  <div class="container">
    <div class="row d-flex flex-row justify-content-center">
      <div class="col-xs-12 "></div>
      <div class="col-xs-12 mx-2"><h3 class="text-primary mb-0"></h3></div>
      <div class="col-xs-12"></div>
    </div>
    <div class="container">
      <div class="d-sm-flex justify-content-left align-items-center my-4">
              <a
                class="btn btn-info btn-sm"
                role="button"
                routerLink="/frontdesk-reports"
                ><i class="fas fa-chart-line fa-sm text-white"></i>
                Reports</a
              >&nbsp;
              <a
                class="btn btn-info btn-sm"
                role="button"
                routerLink="/requestforquotes"
                ><i class="fas fa-clipboard-list text-white"></i>&nbsp;RFQ</a
              >&nbsp;
              <a
                class="btn btn-info btn-sm"
                role="button"
                routerLink="/register-client"
                ><i class="fas fa-briefcase fa-sm text-white"></i>
               Register Client</a
              >&nbsp;
              <a
                class="btn btn-info btn-sm"
                role="button"
                routerLink="/purchases"
                ><i class="fas fa-warehouse text-white"></i>&nbsp;Purchases</a
              >
&nbsp;
              <a
                class="btn btn-info btn-sm"
                role="button"
                routerLink="/appointments"
                ><i class="fas fa-calendar-plus text-white"></i>&nbsp;Appointments</a
              >     
                      </div>

      <div class="row">
        <div class="col-md-4 col-xl-3 mb-4">
          <div
            class="rfqs-card card shadow py-2"
          >
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div
                    class="text-uppercase text-info font-weight-bold text-xs mb-1"
                  >
                    <span>RFQs</span>
                  </div>
                  <div class="text-secondary font-weight-bold h5 mb-0">
                    <span></span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-danger"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3 mb-4">
          <div class="orders-card card shadow py-2">
            <div class="card-body ">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div
                    class="text-uppercase text-danger font-weight-bold text-xs mb-1"
                  >
                    <span>ORDERS</span>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="text-secondary font-weight-bold h5 mb-0 mr-3">
                        <span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-cart-arrow-down fa-2x text-info"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 mb-4">
          <div class="purchases-card card shadow py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div
                    class="text-uppercase text-info font-weight-bold text-xs mb-1"
                  >
                    <span>PURCHASES</span>
                  </div>
                  <div class="text-secondary font-weight-bold h5 mb-0">
                    <span></span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-warehouse fa-2x text-danger"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 mb-4">
          <div class="appointments-card card shadow py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div
                    class="text-uppercase text-danger font-weight-bold text-xs mb-1"
                  >
                    <span>APPOINTMENTS</span>
                  </div>
                  <div class="text-secondary font-weight-bold h5 mb-0">
                    <span></span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar-plus fa-2x text-info"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="card shadow mb-4">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
            <h6 class="text-info pull-right font-weight-bold m-0">
              <hr class="top mt-1 mb-0" />
                REQUEST FOR QUOTATION(RFQs)
                <hr class="bottom mt-1 mb-0" />
              </h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="tickets-card2 card shadow mb-4">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
            <h6 class="text-info font-weight-bold m-0">
              <hr class="top mt-1 mb-0" />
                TICKETS
                <hr class="bottom mt-1 mb-0" />
              </h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
         <div class="col-lg-12 col-xs-12">
          <div class="card shadow mb-4">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
            <h6 class="text-info font-weight-bold m-0">
              <hr class="top mt-1 mb-0" />
                ACCOUNT MANAGEMENT
                <hr class="bottom mt-1 mb-0" />
              </h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <footer class="main-footer"> -->
  <div class="container mt-3 mb-2 pb-2">
    <div class="col-xs-12 col-lg-12">
      <div class="small text-center text-danger">
        Copyright &copy; 2020 - Brimasmedia Ltd
      </div>
    </div>
  </div>
  <!-- </footer> -->
</div>

    <!-- Content Wrapper. Contains page content -->
    <!-- <div class="content-wrapper"> -->
      <!-- Main content -->
      <!-- <section class="content">
        <div class="container-fluid">
          <!Small boxes (Stat box) -->
          <!-- <div class="row">
            <div class="col-lg-2 col-6">
              small box -->
              <!-- <div class="small-box bg-info">
                <div class="inner">
                  <h3>12</h3>

                  <p>New RFQs Created</p>
                  <small>Last updated:27/11/2019</small>
                </div>

                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3>08</h3>

                    <p>At Customer Approval</p>
                    <small>Last updated:27/11/2019</small>
                  </div>

                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
            <div class="col-lg-2 col-6">
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>16<sup style="font-size: 20px"></sup></h3>

                  <p>Being Costed</p>
                  <small>Last updated:27/11/2019</small>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>RFQ Bounce Rate</p>
                    <small>Last updated:27/11/2019</small>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
            <div class="col-lg-2 col-6">
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>44</h3>

                  <p>RFQs Pending  Approvals</p>
                  <small>Last updated:27/11/2019</small>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-2 col-6">
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>5</h3>

                  <p>Processed RFQs</p>
                  <small>Last updated:27/11/2019</small>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <section class="col-lg-7 connectedSortable">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title text-primary">
                    <i class="fas fa-book text-info mr-1"></i>
                    Samples Pending Customer Approval
                  </h3>

                </div>
                <div class="card-body">

                    <table class="table table-condensed">
                        <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Customer</th>
                            <th>Oder Number</th>
                            <th style="width: 40px">Customer Contact</th>
                            <th style="width: 40px">Submitted Time Stamp</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1.</td>
                            <td>KCB Uganda</td>
                            <td>

                            </td>
                            <td><span class="badge bg-danger">55%</span></td>
                          </tr>
                          <tr>
                            <td>2.</td>
                            <td>Clean database</td>
                            <td>
                              <div class="progress progress-xs">
                                <div class="progress-bar bg-warning" style="width: 70%"></div>
                              </div>
                            </td>
                            <td><span class="badge bg-warning">70%</span></td>
                          </tr>
                          <tr>
                            <td>3.</td>
                            <td>Cron job running</td>
                            <td>
                              <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar bg-primary" style="width: 30%"></div>
                              </div>
                            </td>
                            <td><span class="badge bg-primary">30%</span></td>
                          </tr>
                          <tr>
                            <td>4.</td>
                            <td>Fix and squish bugs</td>
                            <td>
                              <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar bg-success" style="width: 90%"></div>
                              </div>
                            </td>
                            <td><span class="badge bg-success">90%</span></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>

              <div class="card direct-chat direct-chat-primary">
                <div class="card-header">
                  <h3 class="card-title">Actual Samples Pending</h3>


                </div>
                <div class="card-body table-responsive ">

                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th >
                                       #
                                    </th>
                                    <th >
                                        RFQ Serial Number
                                    </th>
                                    <th >
                                            Customer Name
                                        </th>
                                        <th >
                                              RFQ Source
                                            </th>
                                    <th >
                                       No Of Items
                                    </th>

                                    <th >
                                       Total Amount
                                    </th>


                           <th >
                                       Department
                                    </th>
                                    <th >
                                          User Queue
                                        </th>
                                        <th >
                                                Movement Status
                                            </th>
                                    <th >
                                        Processing Status
                                    </th>

                                    <th >
                                          Movement Timestamp
                                        </th>

                                        <th >
                                              Action
                                            </th>
                                </tr>
                            </thead>
                            <tbody>




                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        <a routerLink='/requestforqoute'>
                                           RFQ000111
                                        </a>
                                        <br/>

                                    </td>
                                    <td>
                                            <a routerLink='/requestforqoute'>
                                                KCB Bank
                                             </a>
                                        </td>
                                        <td>
                                              Email
                                            </td>
                                    <td>
                                       12
                                    </td>
                                    <td>
                                           4,000,000
                                         </td>

                                         <td>
                                                Front Desk
                                              </td>

                                              <td>
                                                   Michelle Ssemwogere
                                                  </td>

                                    <td >
                                        <span class="badge badge-danger">Created</span>
                                    </td>

                                    <td >
                                            <span class="badge badge-primary">Pending Costing</span>
                                        </td>

                                        <td >
                                            27/11/2019
                                            </td>
                                    <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="#">
                                                <i class="fas fa-folder">
                                                </i>
                                                Receive
                                            </a>
                                            <a class="btn btn-danger btn-sm" href="#">
                                                <i class="fas fa-check">
                                                </i>
                                                Approve
                                            </a>
                                        </td>
                                </tr>


                                <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            <a routerLink='/requestforqoute'>
                                               RFQ000133
                                            </a>
                                            <br/>

                                        </td>
                                        <td>
                                                <a routerLink='/requestforqoute'>
                                                  Ministry of Finance
                                                 </a>
                                            </td>
                                            <td>
                                               Gov't Bid
                                                </td>
                                        <td>
                                           12
                                        </td>
                                        <td>
                                               14,000,000
                                             </td>

                                             <td>
                                                    Assistant Admin
                                                  </td>

                                                  <td>
                                                     Anita Arigye
                                                      </td>

                                        <td >
                                            <span class="badge badge-success">Received</span>
                                        </td>

                                        <td >
                                                <span class="badge badge-warning">Costed</span>
                                            </td>

                                            <td >
                                                27/11/2019
                                                </td>
                                        <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" href="#">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Forward
                                                </a>
                                                <a class="btn btn-danger btn-sm" href="#">
                                                    <i class="fas fa-check">
                                                    </i>
                                                    Approve
                                                </a>
                                            </td>
                                    </tr>


                                    <tr>
                                            <td>
                                                3
                                            </td>
                                            <td>
                                                <a routerLink='/requestforqoute'>
                                                   RFQ000143
                                                </a>
                                                <br/>

                                            </td>
                                            <td>
                                                    <a routerLink='/frontdeskdashboard'>
                                                       Bazirake Augustine
                                                     </a>
                                                </td>
                                                <td>
                                                      Walk In
                                                    </td>
                                            <td>
                                              36
                                            </td>
                                            <td>
                                                  3,000,000
                                                 </td>

                                                 <td>
                                                        Front Desk
                                                      </td>

                                                      <td>
                                                           Bright Iryn
                                                          </td>

                                            <td >
                                                <span class="badge badge-info">Forwarded</span>
                                            </td>

                                            <td >
                                                    <span class="badge badge-primary">Pending Costing</span>
                                                </td>

                                                <td >
                                                    27/11/2019
                                                    </td>
                                            <td class="project-actions text-right">
                                                    <a class="btn btn-primary btn-sm" href="#">
                                                        <i class="fas fa-folder">
                                                        </i>
                                                        Foward
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" href="#">
                                                        <i class="fas fa-check">
                                                        </i>
                                                        Approve
                                                    </a>
                                                </td>
                                        </tr>

                            </tbody>
                        </table>
                      </div>
                    </div>
                </div>

              </div>
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="ion ion-clipboard mr-1"></i>
                    To Do List
                  </h3>

                  <div class="card-tools">
                    <ul class="pagination pagination-sm">
                      <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                      <li class="page-item"><a href="#" class="page-link">1</a></li>
                      <li class="page-item"><a href="#" class="page-link">2</a></li>
                      <li class="page-item"><a href="#" class="page-link">3</a></li>
                      <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <ul class="todo-list" data-widget="todo-list">
                    <li>
                      <span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                      </span>
                      <div  class="icheck-primary d-inline ml-2">
                        <input type="checkbox" value="" name="todo1" id="todoCheck1">
                        <label for="todoCheck1"></label>
                      </div>
                      <span class="text">Remember to take qouatation to MONF</span>
                      <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>
                      <div class="tools">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-o"></i>
                      </div>
                    </li>
                    <li>
                      <span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                      </span>
                      <div  class="icheck-primary d-inline ml-2">
                        <input type="checkbox" value="" name="todo2" id="todoCheck2" checked>
                        <label for="todoCheck2"></label>
                      </div>
                      <span class="text">Call manager for approval of pending items</span>
                      <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
                      <div class="tools">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-o"></i>
                      </div>
                    </li>
                    <li>
                      <span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                      </span>
                      <div  class="icheck-primary d-inline ml-2">
                        <input type="checkbox" value="" name="todo3" id="todoCheck3">
                        <label for="todoCheck3"></label>
                      </div>
                      <span class="text">Raise qouations</span>
                      <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>
                      <div class="tools">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-o"></i>
                      </div>
                    </li>
                    <li>
                      <span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                      </span>
                      <div  class="icheck-primary d-inline ml-2">
                        <input type="checkbox" value="" name="todo4" id="todoCheck4">
                        <label for="todoCheck4"></label>
                      </div>
                      <span class="text">Call finance to post the items</span>
                      <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>
                      <div class="tools">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-o"></i>
                      </div>
                    </li>
                    <li>
                      <span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                      </span>
                      <div  class="icheck-primary d-inline ml-2">
                        <input type="checkbox" value="" name="todo5" id="todoCheck5">
                        <label for="todoCheck5"></label>
                      </div>
                      <span class="text">Check my whatsapp messages and reply</span>
                      <small class="badge badge-primary"><i class="far fa-clock"></i> 1 week</small>
                      <div class="tools">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-o"></i>
                      </div>
                    </li>
                    <li>
                      <span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                      </span>
                      <div  class="icheck-primary d-inline ml-2">
                        <input type="checkbox" value="" name="todo6" id="todoCheck6">
                        <label for="todoCheck6"></label>
                      </div>
                      <span class="text">Apply for a new job</span>
                      <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>
                      <div class="tools">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-o"></i>
                      </div>
                    </li>
                  </ul>
                </div> -->
                <!-- <div class="card-footer clearfix">
                  <button type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add item</button>
                </div>
              </div>
            </section>
            <section class="col-lg-5 connectedSortable">
              <div class="card bg-gradient-primary">
                <div class="card-header border-0">
                  <h3 class="card-title">
                    <i class="fas fa-map-marker-alt mr-1"></i>
                    Employee Dashboard
                  </h3>
                  <div class="card-tools">
                    <button type="button"
                            class="btn btn-primary btn-sm daterange"
                            data-toggle="tooltip"
                            title="Date range">
                      <i class="far fa-calendar-alt"></i>
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            data-card-widget="collapse"
                            data-toggle="tooltip"
                            title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div id="world-map" style="height: 250px; width: 100%;"></div>
                </div>
                <div class="card-footer bg-transparent">
                  <div class="row">
                    <div class="col-4 text-center">
                      <div id="sparkline-1"></div>
                      <div class="text-white">My Payslip</div>
                    </div>
                    <div class="col-4 text-center">
                      <div id="sparkline-2"></div>
                      <div class="text-white">My Over time payment</div>
                    </div>
                    <div class="col-4 text-center">
                      <div id="sparkline-3"></div>
                      <div class="text-white">Performance Appraisal</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card bg-gradient-info">
                <div class="card-header border-0">
                  <h3 class="card-title">
                    <i class="fas fa-th mr-1"></i>
                    Leave Managment
                  </h3>

                  <div class="card-tools">
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <div class="card-footer bg-transparent">
                  <div class="row">
                    <div class="col-4 text-center">
                      <input type="text" class="knob" data-readonly="true" value="21" data-width="60" data-height="60"
                             data-fgColor="#39CCCC">

                      <div class="text-white">Total Number of Leave Days</div>
                    </div>
                    <div class="col-4 text-center">
                      <input type="text" class="knob" data-readonly="true" value="7" data-width="60" data-height="60"
                             data-fgColor="#39CCCC">

                      <div class="text-white">Leave Days Taken</div>
                    </div>
                    <div class="col-4 text-center">
                      <input type="text" class="knob" data-readonly="true" value="14" data-width="60" data-height="60"
                             data-fgColor="#39CCCC">

                      <div class="text-white">Leave Days Remaining</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card bg-gradient-success">
                <div class="card-header border-0">

                  <h3 class="card-title">
                    <i class="far fa-calendar-alt"></i>
                    Brimas Calender Events
                  </h3>
                  <div class="card-tools"> -->
                    <!-- button with a dropdown -->
<!--                    <div class="btn-group">
                      <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-bars"></i></button>
                      <div class="dropdown-menu float-right" role="menu">
                        <a href="#" class="dropdown-item">Add new event</a>
                        <a href="#" class="dropdown-item">Clear events</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">View calendar</a>
                      </div>
                    </div>
                    <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                /. tools -->
                <!-- /.card-header
                <div class="card-body pt-0">
                  The calendar -->
                  <!-- /.card-body
                  <div id="calendar" style="width: 100%"></div>
                </div>
              </div>
               /.card
            </section>
            right col -->
            <!-- /.row (main row)
          </div>
        </div>
      </section>
       /.content -->
    <!-- </div> -->
    <!-- /.content-wrapper -->
    <!-- <footer class="main-footer">
      <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.0
      </div>
    </footer> -->


