<div
class="container-fluid d-flex flex-row justify-content-center my-1 my-md-5 my-xl-0 pt-5 pb-1 py-md-5 pt-xl-5 pb-xl-0 shadow-lg col-12"
>
<div class="jumbotron-fluid mt-0 mb-4 my-md-5 my-xl-0 pt-0 pb-3 pb-xl-5">
  <div
    class="card mt-4 mb-4 mb-md-5 mx-auto shadow-lg pt-2 pb-0"
  >
    <h2 class="d-flex flex-row justify-content-center mt-3">
      <i class="fas fa-sign-in-alt text-info mx-auto"></i>
    </h2>
    <h3 class="card-title text-info d-flex justify-content-center">
      <span>Login</span>
    </h3>
    <div class="card-body py-2 mb-0">
      <form [formGroup]="userForm" (ngSubmit)="login()">
        <div class="form-group text-primary">
          <label
            for="email"
            [ngClass]="
              fval.email.valid ? 'text-success' : ''
            "
            >Email<i
              *ngIf="fval.email.valid"
              class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-phone text-primary mx-auto"
                  style="size: 50px"
                ></i>
              </div>
            </div>
            <input
              id="email"
              formControlName="email"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.email.touched ||
                    fval.email.dirty) &&
                  fval.email.errors
              }"
              placeholder="Enter email address"
              autocomplete="off"
            />
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.email.touched ||
                fval.email.dirty) &&
              fval.email.errors?.required
            "
          >
            Your email is required
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.email.touched ||
                fval.email.dirty) &&
              fval.email.errors?.email
            "
          >
            The email is not valid
          </div>
        </div>
        <div class="form-group text-primary">
          <label
            for="password"
            [ngClass]="fval.password.valid ? 'text-success' : ''"
            >Password<i *ngIf="fval.password.valid" class="material-icons"
              >check_circle</i
            ></label
          >

          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-lock text-primary mx-auto"
                  style="size: 50px"
                ></i>
              </div>
            </div>
            <input
              id="password"
              formControlName="password"
              type="password"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.password.touched || fval.password.dirty) &&
                  fval.password.errors
              }"
              placeholder="Enter Password"
              autocomplete="off"
            />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                class="fas"
                [ngClass]="{
                  'fa-eye-slash': !fieldType,
                  'fa-eye': fieldType
                }"
                (click)="toggleFieldType()"
              ></i>
            </span>
          </div>
          </div>
          <label
            class="text-danger col"
            *ngIf="
              (fval.password.touched || fval.password.dirty) &&
              fval.password.errors?.required
            "
          >
            Your Password is Required
          </label>
        </div>

        <div class="row d-flex flex-row">
          <div class="col-12 my-0 py-0">
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary col-12"
                [disabled]="!userForm.valid"
              >
                Login
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col" *ngIf="errored" class="text-danger">
            <i class="material-icons">cancel</i>
            <alert type="danger">
              <strong> {{ loginStatus }} </strong>
            </alert>
          </label>
        </div>
        <div class="row">
          <label class="col" *ngIf="posted" class="text-success">
            <i class="material-icons">check_circle</i>
            <alert type="success">
              <strong>{{ loginStatus }} </strong>
            </alert>
          </label>
        </div>

        <div class="col-12 d-flex justify-content-start mt-0 pt-0">
          <div class="form-group">
            Dont't have an account?<a class="text-info mr-0" routerLink="../registeruser">
              Register
            </a>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-start mt-0 pt-0">
          <div class="form-group">
            <a class="text-info mr-0" routerLink="../forgotpassword">
              Forgot Password?
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- footer main -->
<div class="container my-1 py-0">
<div class="col-12 my-0 py-0">
<div class="small text-center text-danger">
Copyright &copy; 2021 - Brimasmedia Ltd
</div>
</div>
</div>
